.btn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    /* transition: background-color 0.3s,tranform 0.2s; */
}

.btn.primary {
    background-color:  #4CAF50; color: #fff;
}

.btn.secondary {
    background-color: #2196F3; color: #fff;
}

.btn.denger {
    background-color: #f44336; color: #fff;
}

.btn:hover { transform: scale(1.05); }
.btn:active { transform: scale(0.98); }

.accordion {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-header{
    padding: 15px;
    font-size: 18px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition:  background-color 0.3s;
}

/* .accordion-header:hover { background-color: #e0e0e0; } */

.accordion-content{
    padding: 15px;
    display: none;
    border-top: 1px solid #ddd;
    /* transition: max-height 0.3s ease, opacity 0.3s ease; */
}

.accordion-item.active .accordion-content {
    display: block;
    opacity: 1;
}

.badge {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    transition: box-shadow 0.2s;
}


.badge.success { background-color: #4CAF50; }
.badge.warning { background-color: #FFC107; }
.badge.error { background-color: #F44336; }


.badge:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}